@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.main {
  margin-top: 4.5rem;
}

.twitter {
  color: #3ab7f0;
}

.instagram {
  color: #da5f53;
}

.facebook {
  color: #3b579b;
}

.banner {
  margin-right: -0.3rem;
}
